__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
.cache/
posters/*.png
posters/*.svg
!posters/.gitkeep

# OSMnx cache
cache/
.osmnx_cache/
